USE [master]
GO
/****** Object:  Database [QUAN_LY_BAN_THUE_NHA_TRANSACTION]    Script Date: 14/01/2021 8:10:13 PM ******/
CREATE DATABASE [QUAN_LY_BAN_THUE_NHA_TRANSACTION]
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [QUAN_LY_BAN_THUE_NHA_TRANSACTION].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [QUAN_LY_BAN_THUE_NHA_TRANSACTION]
GO
/****** Object:  UserDefinedFunction [dbo].[AUTO_IDBRANCH]    Script Date: 14/01/2021 8:10:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create function [dbo].[AUTO_IDBRANCH]()
returns varchar(5)
as
begin
	declare @ID varchar(5)
	if (select COUNT(BRANCHID) from dbo.BRANCH) = 0
		SET @ID = '0'
	else
		select @ID = MAX(RIGHT(BRANCHID, 4)) from dbo.BRANCH
		select @ID = case
			WHEN @ID >= 0 and @ID < 9 THEN 'B000' + CONVERT(char, CONVERT(int, @ID) + 1)
			WHEN @ID >= 9 THEN 'B00' + CONVERT(char, CONVERT(int, @ID) + 1)
			WHEN @ID >= 99 THEN 'B0' + CONVERT(char, CONVERT(int, @ID) + 1)
		end
	return @ID
end
GO
/****** Object:  UserDefinedFunction [dbo].[AUTO_IDCONTRACT]    Script Date: 14/01/2021 8:10:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create function [dbo].[AUTO_IDCONTRACT]()
returns varchar(5)
as
begin
	declare @ID varchar(5)
	if (select COUNT(CONTRACTID) from dbo.CONTRACT) = 0
		SET @ID = '0'
	else
		select @ID = MAX(RIGHT(CONTRACTID, 4)) from dbo.CONTRACT
		select @ID = case
			WHEN @ID >= 0 and @ID < 9 THEN 'X000' + CONVERT(char, CONVERT(int, @ID) + 1)
			WHEN @ID >= 9 THEN 'X00' + CONVERT(char, CONVERT(int, @ID) + 1)
			WHEN @ID >= 99 THEN 'X0' + CONVERT(char, CONVERT(int, @ID) + 1)
		end
	return @ID
end
GO
/****** Object:  UserDefinedFunction [dbo].[AUTO_IDCUSTOMER]    Script Date: 14/01/2021 8:10:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create function [dbo].[AUTO_IDCUSTOMER]()
returns varchar(5)
as
begin
	declare @ID varchar(5)
	if (select COUNT(CUSTOMERID) from dbo.CUSTOMER) = 0
		SET @ID = '0'
	else
		select @ID = MAX(RIGHT(CUSTOMERID, 4)) from dbo.CUSTOMER
		select @ID = case
			WHEN @ID >= 0 and @ID < 9 THEN 'C000' + CONVERT(char, CONVERT(int, @ID) + 1)
			WHEN @ID >= 9 THEN 'C00' + CONVERT(char, CONVERT(int, @ID) + 1)
			WHEN @ID >= 99 THEN 'C0' + CONVERT(char, CONVERT(int, @ID) + 1)
		end
	return @ID
end
GO
/****** Object:  UserDefinedFunction [dbo].[AUTO_IDEMPLOYEE]    Script Date: 14/01/2021 8:10:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create function [dbo].[AUTO_IDEMPLOYEE]()
returns varchar(5)
as
begin
	declare @ID varchar(5)
	if (select COUNT(EMPLOYEEID) from dbo.EMPLOYEE) = 0
		SET @ID = '0'
	else
		select @ID = MAX(RIGHT(EMPLOYEEID, 4)) from dbo.EMPLOYEE
		select @ID = case
			WHEN @ID >= 0 and @ID < 9 THEN 'E000' + CONVERT(char, CONVERT(int, @ID) + 1)
			WHEN @ID >= 9 THEN 'E00' + CONVERT(char, CONVERT(int, @ID) + 1)
			WHEN @ID >= 99 THEN 'E0' + CONVERT(char, CONVERT(int, @ID) + 1)
		end
	return @ID
end
GO
/****** Object:  UserDefinedFunction [dbo].[AUTO_IDHOME]    Script Date: 14/01/2021 8:10:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create function [dbo].[AUTO_IDHOME]()
returns varchar(5)
as
begin
	declare @ID varchar(5)
	if (select COUNT(HOMEID) from dbo.HOME) = 0
		SET @ID = '0'
	else
		select @ID = MAX(RIGHT(HOMEID, 4)) from dbo.HOME
		select @ID = case
			WHEN @ID >= 0 and @ID < 9 THEN 'H000' + CONVERT(char, CONVERT(int, @ID) + 1)
			WHEN @ID >= 9 THEN 'H00' + CONVERT(char, CONVERT(int, @ID) + 1)
			WHEN @ID >= 99 THEN 'H0' + CONVERT(char, CONVERT(int, @ID) + 1)
		end
	return @ID
end
GO
/****** Object:  UserDefinedFunction [dbo].[AUTO_IDHOST]    Script Date: 14/01/2021 8:10:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create function [dbo].[AUTO_IDHOST]()
returns varchar(5)
as
begin
	declare @ID varchar(5)
	if (select COUNT(HOSTID) from dbo.HOST) = 0
		SET @ID = '0'
	else
		select @ID = MAX(RIGHT(HOSTID, 4)) from dbo.HOST
		select @ID = case
			WHEN @ID >= 0 and @ID < 9 THEN 'F000' + CONVERT(char, CONVERT(int, @ID) + 1)
			WHEN @ID >= 9 THEN 'F00' + CONVERT(char, CONVERT(int, @ID) + 1)
			WHEN @ID >= 99 THEN 'F0' + CONVERT(char, CONVERT(int, @ID) + 1)
		end
	return @ID
end
GO
/****** Object:  UserDefinedFunction [dbo].[AUTO_IDREQUEST]    Script Date: 14/01/2021 8:10:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create function [dbo].[AUTO_IDREQUEST]()
returns varchar(5)
as
begin
	declare @ID varchar(5)
	if (select COUNT(REQUESTID) from dbo.REQUEST) = 0
		SET @ID = '0'
	else
		select @ID = MAX(RIGHT(REQUESTID, 4)) from dbo.REQUEST
		select @ID = case
			WHEN @ID >= 0 and @ID < 9 THEN 'R000' + CONVERT(char, CONVERT(int, @ID) + 1)
			WHEN @ID >= 9 THEN 'R00' + CONVERT(char, CONVERT(int, @ID) + 1)
			WHEN @ID >= 99 THEN 'R0' + CONVERT(char, CONVERT(int, @ID) + 1)
		end
	return @ID
end
GO
/****** Object:  UserDefinedFunction [dbo].[AUTO_STT]    Script Date: 14/01/2021 8:10:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create function [dbo].[AUTO_STT]()
returns varchar(5)
as
begin
	declare @STT varchar(5)
	select @STT = STATUSID from dbo.STATUS where STATUSNAME = N'Còn trống'
	return @STT
end
GO
/****** Object:  Table [dbo].[BRANCH]    Script Date: 14/01/2021 8:10:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BRANCH](
	[BRANCHID] [char](5) NOT NULL,
	[BRANCHADDRESS] [nvarchar](100) NULL,
	[BRANCHPHONE] [char](15) NULL,
	[BRANCHFAX] [char](15) NULL,
 CONSTRAINT [PK_BRANCH] PRIMARY KEY CLUSTERED 
(
	[BRANCHID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CONTRACT]    Script Date: 14/01/2021 8:10:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CONTRACT](
	[CONTRACTID] [char](5) NOT NULL,
	[CCUSTOMERID] [char](5) NOT NULL,
	[CHOMEID] [char](5) NOT NULL,
	[CVIEWDATE] [date] NOT NULL,
	[SIGNDATE] [date] NOT NULL,
 CONSTRAINT [PK_CONTRACT] PRIMARY KEY CLUSTERED 
(
	[CONTRACTID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CONTRACTRENT]    Script Date: 14/01/2021 8:10:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CONTRACTRENT](
	[CONTRACTRENTID] [char](5) NOT NULL,
	[ENDDATE] [date] NULL,
 CONSTRAINT [PK_CONTRACTRENT] PRIMARY KEY CLUSTERED 
(
	[CONTRACTRENTID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CONTRACTSELL]    Script Date: 14/01/2021 8:10:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CONTRACTSELL](
	[CONTRACTSELLID] [char](5) NOT NULL,
	[DEPOSIT] [money] NULL,
 CONSTRAINT [PK_CONTRACTSELL] PRIMARY KEY CLUSTERED 
(
	[CONTRACTSELLID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CUSTOMER]    Script Date: 14/01/2021 8:10:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CUSTOMER](
	[CUSTOMERID] [char](5) NOT NULL,
	[CBRANCHID] [char](5) NULL,
	[CUSTOMERNAME] [nvarchar](50) NULL,
	[CUSTOMERGENDER] [nvarchar](5) NULL,
	[CUSTOMERADDRESS] [nvarchar](100) NULL,
	[CUSTOMERPHONE] [char](15) NULL,
 CONSTRAINT [PK_CUSTOMER] PRIMARY KEY CLUSTERED 
(
	[CUSTOMERID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EMPLOYEE]    Script Date: 14/01/2021 8:10:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EMPLOYEE](
	[EMPLOYEEID] [char](5) NOT NULL,
	[EBRANCHID] [char](5) NULL,
	[EMPLOYEENAME] [nvarchar](50) NULL,
	[EMPLOYEEADDRESS] [nvarchar](100) NULL,
	[EMPLOYEEGENDER] [nvarchar](5) NULL,
	[EMPLOYEEPHONE] [char](15) NULL,
 CONSTRAINT [PK_EMPLOYEE] PRIMARY KEY CLUSTERED 
(
	[EMPLOYEEID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HOME]    Script Date: 14/01/2021 8:10:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HOME](
	[HOMEID] [char](5) NOT NULL,
	[HHOSTID] [char](5) NULL,
	[HEMPLOYEEID] [char](5) NULL,
	[HADDRESSSTREET] [nvarchar](50) NULL,
	[HADDRESSDISTRICT] [nvarchar](50) NULL,
	[HADDRESSSCITY] [nvarchar](50) NULL,
	[HOMESTATUSID] [char](5) NULL,
	[HOMETYPEID] [char](5) NULL,
	[ROOMNUMBER] [tinyint] NULL,
	[POSTDATE] [datetime] NULL,
	[EXPIRATIONDATE] [date] NULL,
	[HVIEW] [int] NULL,
 CONSTRAINT [PK_HOME] PRIMARY KEY CLUSTERED 
(
	[HOMEID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HOMERENT]    Script Date: 14/01/2021 8:10:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HOMERENT](
	[HOMERENTID] [char](5) NOT NULL,
	[RENT] [money] NULL,
 CONSTRAINT [PK_HOMERENT] PRIMARY KEY CLUSTERED 
(
	[HOMERENTID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HOMESELL]    Script Date: 14/01/2021 8:10:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HOMESELL](
	[HOMESELLID] [char](5) NOT NULL,
	[PRICE] [money] NULL,
	[HOSTREQUEST] [nvarchar](100) NULL,
 CONSTRAINT [PK_HOMESELL] PRIMARY KEY CLUSTERED 
(
	[HOMESELLID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HOST]    Script Date: 14/01/2021 8:10:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HOST](
	[HOSTID] [char](5) NOT NULL,
	[HBRANCHID] [char](5) NULL,
	[HOSTNAME] [nvarchar](50) NULL,
	[HOSTGENDER] [nvarchar](5) NULL,
	[HOSTADDRESS] [nvarchar](100) NULL,
	[HOSTPHONE] [char](15) NULL,
 CONSTRAINT [PK_HOST] PRIMARY KEY CLUSTERED 
(
	[HOSTID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LOGIN]    Script Date: 14/01/2021 8:10:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LOGIN](
	[userID] [nchar](10) NOT NULL,
	[id] [nchar](5) NULL,
	[username] [nchar](10) NULL,
	[password] [nchar](10) NULL,
	[role] [tinyint] NULL,
 CONSTRAINT [PK_LOGIN] PRIMARY KEY CLUSTERED 
(
	[userID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[REQUEST]    Script Date: 14/01/2021 8:10:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[REQUEST](
	[REQUESTID] [char](5) NOT NULL,
	[RCUSTOMERID] [char](5) NOT NULL,
	[RHOMETYPEID] [char](5) NOT NULL,
	[CUSTOMERCRITERIA] [nvarchar](100) NULL,
 CONSTRAINT [PK_REQUEST] PRIMARY KEY CLUSTERED 
(
	[REQUESTID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[STATUS]    Script Date: 14/01/2021 8:10:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[STATUS](
	[STATUSID] [char](5) NOT NULL,
	[STATUSNAME] [nvarchar](50) NULL,
 CONSTRAINT [PK_STATUS] PRIMARY KEY CLUSTERED 
(
	[STATUSID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TYPE]    Script Date: 14/01/2021 8:10:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TYPE](
	[TYPEID] [char](5) NOT NULL,
	[TYPENAME] [nvarchar](50) NULL,
 CONSTRAINT [PK_TYPE] PRIMARY KEY CLUSTERED 
(
	[TYPEID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[VIEWINFO]    Script Date: 14/01/2021 8:10:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VIEWINFO](
	[VCUSTOMERID] [char](5) NOT NULL,
	[VHOMEID] [char](5) NOT NULL,
	[VIEWDATE] [date] NOT NULL,
	[CUSTOMERCOMMENT] [nvarchar](100) NULL,
 CONSTRAINT [PK_VIEWINFO] PRIMARY KEY CLUSTERED 
(
	[VCUSTOMERID] ASC,
	[VHOMEID] ASC,
	[VIEWDATE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO

INSERT [dbo].[BRANCH] ([BRANCHID], [BRANCHADDRESS], [BRANCHPHONE], [BRANCHFAX]) VALUES (N'B0001', N'Thủ Đức', N'0932857979     ', N'235525         ')
INSERT [dbo].[BRANCH] ([BRANCHID], [BRANCHADDRESS], [BRANCHPHONE], [BRANCHFAX]) VALUES (N'B0002', N'Quận Bình Thạnh', N'0932857978     ', N'235625         ')
INSERT [dbo].[BRANCH] ([BRANCHID], [BRANCHADDRESS], [BRANCHPHONE], [BRANCHFAX]) VALUES (N'B0003', N'Quận Gò Vấp', N'0932857977     ', N'235425         ')
GO
INSERT [dbo].[CONTRACT] ([CONTRACTID], [CCUSTOMERID], [CHOMEID], [CVIEWDATE], [SIGNDATE]) VALUES (N'X0001', N'C0001', N'H0001', CAST(N'2020-11-30' AS Date), CAST(N'2020-12-01' AS Date))
INSERT [dbo].[CONTRACT] ([CONTRACTID], [CCUSTOMERID], [CHOMEID], [CVIEWDATE], [SIGNDATE]) VALUES (N'X0002', N'C0003', N'H0011', CAST(N'2020-12-01' AS Date), CAST(N'2020-12-01' AS Date))
INSERT [dbo].[CONTRACT] ([CONTRACTID], [CCUSTOMERID], [CHOMEID], [CVIEWDATE], [SIGNDATE]) VALUES (N'X0003', N'C0007', N'H0003', CAST(N'2020-12-06' AS Date), CAST(N'2020-12-06' AS Date))
GO
INSERT [dbo].[CONTRACTRENT] ([CONTRACTRENTID], [ENDDATE]) VALUES (N'X0001', CAST(N'2021-12-01' AS Date))
INSERT [dbo].[CONTRACTRENT] ([CONTRACTRENTID], [ENDDATE]) VALUES (N'X0003', CAST(N'2021-12-06' AS Date))
INSERT [dbo].[CONTRACTRENT] ([CONTRACTRENTID], [ENDDATE]) VALUES (N'X0005', CAST(N'2021-12-25' AS Date))
GO
INSERT [dbo].[CONTRACTSELL] ([CONTRACTSELLID], [DEPOSIT]) VALUES (N'X0002', 10000000.0000)
INSERT [dbo].[CONTRACTSELL] ([CONTRACTSELLID], [DEPOSIT]) VALUES (N'X0004', 100000000.0000)
GO
INSERT [dbo].[CUSTOMER] ([CUSTOMERID], [CBRANCHID], [CUSTOMERNAME], [CUSTOMERGENDER], [CUSTOMERADDRESS], [CUSTOMERPHONE]) VALUES (N'C0001', N'B0001', N'123', N'Nam', N'Vũng Tàu', N'0845768612     ')
INSERT [dbo].[CUSTOMER] ([CUSTOMERID], [CBRANCHID], [CUSTOMERNAME], [CUSTOMERGENDER], [CUSTOMERADDRESS], [CUSTOMERPHONE]) VALUES (N'C0002', N'B0002', N'Kim Huy', N'Nam', N'Long An', N'0363643472     ')
INSERT [dbo].[CUSTOMER] ([CUSTOMERID], [CBRANCHID], [CUSTOMERNAME], [CUSTOMERGENDER], [CUSTOMERADDRESS], [CUSTOMERPHONE]) VALUES (N'C0003', N'B0003', N'Phạm Quốc Bảo', N'Nam', N'Tp Hồ Chí Minh', N'0325236342     ')
GO
INSERT [dbo].[EMPLOYEE] ([EMPLOYEEID], [EBRANCHID], [EMPLOYEENAME], [EMPLOYEEADDRESS], [EMPLOYEEGENDER], [EMPLOYEEPHONE]) VALUES (N'E0001', N'B0001', N'Nguyễn Văn An', N'Quận 2', N'Nam', N'0934433634     ')
INSERT [dbo].[EMPLOYEE] ([EMPLOYEEID], [EBRANCHID], [EMPLOYEENAME], [EMPLOYEEADDRESS], [EMPLOYEEGENDER], [EMPLOYEEPHONE]) VALUES (N'E0002', N'B0002', N'Lê Thị Anh', N'Quận 2', N'Nữ', N'0934433634     ')
INSERT [dbo].[EMPLOYEE] ([EMPLOYEEID], [EBRANCHID], [EMPLOYEENAME], [EMPLOYEEADDRESS], [EMPLOYEEGENDER], [EMPLOYEEPHONE]) VALUES (N'E0003', N'B0002', N'Phạm Minh Quang', N'Thủ Đức', N'Nam', N'0934433236     ')
GO
INSERT [dbo].[HOME] ([HOMEID], [HHOSTID], [HEMPLOYEEID], [HADDRESSSTREET], [HADDRESSDISTRICT], [HADDRESSSCITY], [HOMESTATUSID], [HOMETYPEID], [ROOMNUMBER], [POSTDATE], [EXPIRATIONDATE], [HVIEW]) VALUES (N'H0001', N'F0001', N'E0001', N'135 Phạm Văn Đồng', N'Thủ Đức', N'Tp Hồ Chí Minh', N'S01  ', N'T01  ', 2, CAST(N'2020-11-20T22:11:51.010' AS DateTime), CAST(N'2022-01-01' AS Date), 1)
INSERT [dbo].[HOME] ([HOMEID], [HHOSTID], [HEMPLOYEEID], [HADDRESSSTREET], [HADDRESSDISTRICT], [HADDRESSSCITY], [HOMESTATUSID], [HOMETYPEID], [ROOMNUMBER], [POSTDATE], [EXPIRATIONDATE], [HVIEW]) VALUES (N'H0002', N'F0002', N'E0002', N'455 Phạm Văn Đồng', N'Gò Vấp', N'Tp Hồ Chí Minh', N'S03  ', N'T01  ', 2, CAST(N'2020-11-20T22:11:51.060' AS DateTime), CAST(N'2022-01-01' AS Date), 0)
INSERT [dbo].[HOME] ([HOMEID], [HHOSTID], [HEMPLOYEEID], [HADDRESSSTREET], [HADDRESSDISTRICT], [HADDRESSSCITY], [HOMESTATUSID], [HOMETYPEID], [ROOMNUMBER], [POSTDATE], [EXPIRATIONDATE], [HVIEW]) VALUES (N'H0003', N'F0003', N'E0003', N'131 Điện Biên Phủ', N'Bình Thạnh', N'Tp Hồ Chí Minh', N'S01  ', N'T01  ', 3, CAST(N'2020-11-20T22:11:51.083' AS DateTime), CAST(N'2022-01-01' AS Date), 0)
GO
INSERT [dbo].[HOMERENT] ([HOMERENTID], [RENT]) VALUES (N'H0001', 9110000.0000)
INSERT [dbo].[HOMERENT] ([HOMERENTID], [RENT]) VALUES (N'H0002', 1620001.0000)
INSERT [dbo].[HOMERENT] ([HOMERENTID], [RENT]) VALUES (N'H0003', 3000000.0000)
GO
INSERT [dbo].[HOMESELL] ([HOMESELLID], [PRICE], [HOSTREQUEST]) VALUES (N'H0011', 2200000000.0000, N'Không')
INSERT [dbo].[HOMESELL] ([HOMESELLID], [PRICE], [HOSTREQUEST]) VALUES (N'H0012', 3200000000.0000, N'Không')
INSERT [dbo].[HOMESELL] ([HOMESELLID], [PRICE], [HOSTREQUEST]) VALUES (N'H0013', 2500000000.0000, N'Không')
GO
INSERT [dbo].[HOST] ([HOSTID], [HBRANCHID], [HOSTNAME], [HOSTGENDER], [HOSTADDRESS], [HOSTPHONE]) VALUES (N'F0001', N'B0001', N'Đặng Minh Quân', N'Nam', N'Thủ Đức', N'0932522354     ')
INSERT [dbo].[HOST] ([HOSTID], [HBRANCHID], [HOSTNAME], [HOSTGENDER], [HOSTADDRESS], [HOSTPHONE]) VALUES (N'F0002', N'B0003', N'Đặng Thị Thúy', N'Nữ', N'Quận 9', N'0932522355     ')
INSERT [dbo].[HOST] ([HOSTID], [HBRANCHID], [HOSTNAME], [HOSTGENDER], [HOSTADDRESS], [HOSTPHONE]) VALUES (N'F0003', N'B0002', N'Phạm Minh Sơn', N'Nam', N'Gò Vấp', N'0932522359     ')
GO
INSERT [dbo].[LOGIN] ([userID], [id], [username], [password], [role]) VALUES (N'U0001     ', N'B0001', N'quanly1   ', N'quanly1   ', 1)
INSERT [dbo].[LOGIN] ([userID], [id], [username], [password], [role]) VALUES (N'U0002     ', N'B0002', N'quanly2   ', N'quanly2   ', 1)
INSERT [dbo].[LOGIN] ([userID], [id], [username], [password], [role]) VALUES (N'U0003     ', N'E0001', N'nhanvien1 ', N'nhanvien1 ', 2)
GO
INSERT [dbo].[REQUEST] ([REQUESTID], [RCUSTOMERID], [RHOMETYPEID], [CUSTOMERCRITERIA]) VALUES (N'R0001', N'C0001', N'T01  ', N'Rộng ,đẹp')
INSERT [dbo].[REQUEST] ([REQUESTID], [RCUSTOMERID], [RHOMETYPEID], [CUSTOMERCRITERIA]) VALUES (N'R0002', N'C0002', N'T01  ', N'Gần quận 2')
INSERT [dbo].[REQUEST] ([REQUESTID], [RCUSTOMERID], [RHOMETYPEID], [CUSTOMERCRITERIA]) VALUES (N'R0003', N'C0003', N'T02  ', N'Gần Thủ Đức')
GO
INSERT [dbo].[STATUS] ([STATUSID], [STATUSNAME]) VALUES (N'S01  ', N'Đã thuê')
INSERT [dbo].[STATUS] ([STATUSID], [STATUSNAME]) VALUES (N'S02  ', N'Đã bán')
INSERT [dbo].[STATUS] ([STATUSID], [STATUSNAME]) VALUES (N'S03  ', N'Còn trống')
GO
INSERT [dbo].[TYPE] ([TYPEID], [TYPENAME]) VALUES (N'T01  ', N'Nhà thuê')
INSERT [dbo].[TYPE] ([TYPEID], [TYPENAME]) VALUES (N'T02  ', N'Nhà bán')
GO
INSERT [dbo].[VIEWINFO] ([VCUSTOMERID], [VHOMEID], [VIEWDATE], [CUSTOMERCOMMENT]) VALUES (N'C0001', N'H0001', CAST(N'2020-11-30' AS Date), N'Ok')
INSERT [dbo].[VIEWINFO] ([VCUSTOMERID], [VHOMEID], [VIEWDATE], [CUSTOMERCOMMENT]) VALUES (N'C0002', N'H0001', CAST(N'2020-11-30' AS Date), N'Tạm ổn')
INSERT [dbo].[VIEWINFO] ([VCUSTOMERID], [VHOMEID], [VIEWDATE], [CUSTOMERCOMMENT]) VALUES (N'C0002', N'H0006', CAST(N'2020-12-07' AS Date), NULL)
GO
ALTER TABLE [dbo].[BRANCH] ADD  CONSTRAINT [IDBRANCH]  DEFAULT ([dbo].[AUTO_IDBRANCH]()) FOR [BRANCHID]
GO
ALTER TABLE [dbo].[CONTRACT] ADD  CONSTRAINT [IDCONTRACT]  DEFAULT ([dbo].[AUTO_IDCONTRACT]()) FOR [CONTRACTID]
GO
ALTER TABLE [dbo].[CONTRACTSELL] ADD  DEFAULT ((0)) FOR [DEPOSIT]
GO
ALTER TABLE [dbo].[CUSTOMER] ADD  CONSTRAINT [IDCUSTOMER]  DEFAULT ([dbo].[AUTO_IDCUSTOMER]()) FOR [CUSTOMERID]
GO
ALTER TABLE [dbo].[EMPLOYEE] ADD  CONSTRAINT [IDEMPLOYEE]  DEFAULT ([dbo].[AUTO_IDEMPLOYEE]()) FOR [EMPLOYEEID]
GO
ALTER TABLE [dbo].[HOME] ADD  CONSTRAINT [IDHOME]  DEFAULT ([dbo].[AUTO_IDHOME]()) FOR [HOMEID]
GO
ALTER TABLE [dbo].[HOME] ADD  CONSTRAINT [PDATE]  DEFAULT (getdate()) FOR [POSTDATE]
GO
ALTER TABLE [dbo].[HOME] ADD  CONSTRAINT [HVIEW]  DEFAULT ((0)) FOR [HVIEW]
GO
ALTER TABLE [dbo].[HOMERENT] ADD  CONSTRAINT [REN]  DEFAULT ((0)) FOR [RENT]
GO
ALTER TABLE [dbo].[HOMESELL] ADD  CONSTRAINT [PRI]  DEFAULT ((0)) FOR [PRICE]
GO
ALTER TABLE [dbo].[HOST] ADD  CONSTRAINT [IDHOST]  DEFAULT ([dbo].[AUTO_IDHOST]()) FOR [HOSTID]
GO
ALTER TABLE [dbo].[REQUEST] ADD  CONSTRAINT [IDREQUEST]  DEFAULT ([dbo].[AUTO_IDREQUEST]()) FOR [REQUESTID]
GO
ALTER TABLE [dbo].[CONTRACT]  WITH CHECK ADD  CONSTRAINT [FK_CONTRACT_VIEWINFO] FOREIGN KEY([CCUSTOMERID], [CHOMEID], [CVIEWDATE])
REFERENCES [dbo].[VIEWINFO] ([VCUSTOMERID], [VHOMEID], [VIEWDATE])
GO
ALTER TABLE [dbo].[CONTRACT] CHECK CONSTRAINT [FK_CONTRACT_VIEWINFO]
GO
ALTER TABLE [dbo].[CONTRACTRENT]  WITH CHECK ADD  CONSTRAINT [FK_CONTRACTRENT_CONTRACT] FOREIGN KEY([CONTRACTRENTID])
REFERENCES [dbo].[CONTRACT] ([CONTRACTID])
GO
ALTER TABLE [dbo].[CONTRACTRENT] CHECK CONSTRAINT [FK_CONTRACTRENT_CONTRACT]
GO
ALTER TABLE [dbo].[CONTRACTSELL]  WITH CHECK ADD  CONSTRAINT [FK_CONTRACTSELL_CONTRACT] FOREIGN KEY([CONTRACTSELLID])
REFERENCES [dbo].[CONTRACT] ([CONTRACTID])
GO
ALTER TABLE [dbo].[CONTRACTSELL] CHECK CONSTRAINT [FK_CONTRACTSELL_CONTRACT]
GO
ALTER TABLE [dbo].[CUSTOMER]  WITH CHECK ADD  CONSTRAINT [FK_CUSTOMER_BRANCH] FOREIGN KEY([CBRANCHID])
REFERENCES [dbo].[BRANCH] ([BRANCHID])
GO
ALTER TABLE [dbo].[CUSTOMER] CHECK CONSTRAINT [FK_CUSTOMER_BRANCH]
GO
ALTER TABLE [dbo].[EMPLOYEE]  WITH CHECK ADD  CONSTRAINT [FK_EMPLOYEE_BRANCH] FOREIGN KEY([EBRANCHID])
REFERENCES [dbo].[BRANCH] ([BRANCHID])
GO
ALTER TABLE [dbo].[EMPLOYEE] CHECK CONSTRAINT [FK_EMPLOYEE_BRANCH]
GO
ALTER TABLE [dbo].[HOME]  WITH CHECK ADD  CONSTRAINT [FK_HOME_EMPLOYEE] FOREIGN KEY([HEMPLOYEEID])
REFERENCES [dbo].[EMPLOYEE] ([EMPLOYEEID])
GO
ALTER TABLE [dbo].[HOME] CHECK CONSTRAINT [FK_HOME_EMPLOYEE]
GO
ALTER TABLE [dbo].[HOME]  WITH CHECK ADD  CONSTRAINT [FK_HOME_HOST] FOREIGN KEY([HHOSTID])
REFERENCES [dbo].[HOST] ([HOSTID])
GO
ALTER TABLE [dbo].[HOME] CHECK CONSTRAINT [FK_HOME_HOST]
GO
ALTER TABLE [dbo].[HOME]  WITH CHECK ADD  CONSTRAINT [FK_HOME_STATUS] FOREIGN KEY([HOMESTATUSID])
REFERENCES [dbo].[STATUS] ([STATUSID])
GO
ALTER TABLE [dbo].[HOME] CHECK CONSTRAINT [FK_HOME_STATUS]
GO
ALTER TABLE [dbo].[HOME]  WITH CHECK ADD  CONSTRAINT [FK_HOME_TYPE] FOREIGN KEY([HOMETYPEID])
REFERENCES [dbo].[TYPE] ([TYPEID])
GO
ALTER TABLE [dbo].[HOME] CHECK CONSTRAINT [FK_HOME_TYPE]
GO
ALTER TABLE [dbo].[HOMERENT]  WITH CHECK ADD  CONSTRAINT [FK_HOMERENT_HOME] FOREIGN KEY([HOMERENTID])
REFERENCES [dbo].[HOME] ([HOMEID])
GO
ALTER TABLE [dbo].[HOMERENT] CHECK CONSTRAINT [FK_HOMERENT_HOME]
GO
ALTER TABLE [dbo].[HOMESELL]  WITH CHECK ADD  CONSTRAINT [FK_HOMESELL_HOME] FOREIGN KEY([HOMESELLID])
REFERENCES [dbo].[HOME] ([HOMEID])
GO
ALTER TABLE [dbo].[HOMESELL] CHECK CONSTRAINT [FK_HOMESELL_HOME]
GO
ALTER TABLE [dbo].[HOST]  WITH CHECK ADD  CONSTRAINT [FK_HOME_BRANCH] FOREIGN KEY([HBRANCHID])
REFERENCES [dbo].[BRANCH] ([BRANCHID])
GO
ALTER TABLE [dbo].[HOST] CHECK CONSTRAINT [FK_HOME_BRANCH]
GO
ALTER TABLE [dbo].[REQUEST]  WITH CHECK ADD  CONSTRAINT [FK_REQUEST_CUSTOMER] FOREIGN KEY([RCUSTOMERID])
REFERENCES [dbo].[CUSTOMER] ([CUSTOMERID])
GO
ALTER TABLE [dbo].[REQUEST] CHECK CONSTRAINT [FK_REQUEST_CUSTOMER]
GO
ALTER TABLE [dbo].[REQUEST]  WITH CHECK ADD  CONSTRAINT [FK_REQUEST_TYPE] FOREIGN KEY([RHOMETYPEID])
REFERENCES [dbo].[TYPE] ([TYPEID])
GO
ALTER TABLE [dbo].[REQUEST] CHECK CONSTRAINT [FK_REQUEST_TYPE]
GO
ALTER TABLE [dbo].[VIEWINFO]  WITH CHECK ADD  CONSTRAINT [FK_VIEWINFO_CUSTOMER] FOREIGN KEY([VCUSTOMERID])
REFERENCES [dbo].[CUSTOMER] ([CUSTOMERID])
GO
ALTER TABLE [dbo].[VIEWINFO] CHECK CONSTRAINT [FK_VIEWINFO_CUSTOMER]
GO
ALTER TABLE [dbo].[VIEWINFO]  WITH CHECK ADD  CONSTRAINT [FK_VIEWINFO_HOME] FOREIGN KEY([VHOMEID])
REFERENCES [dbo].[HOME] ([HOMEID])
GO
ALTER TABLE [dbo].[VIEWINFO] CHECK CONSTRAINT [FK_VIEWINFO_HOME]
GO
/****** Object:  StoredProcedure [dbo].[TRAN01_T1]    Script Date: 14/01/2021 8:10:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[TRAN01_T1] @HOMEID CHAR(5), @HOMESTT NVARCHAR(50)
AS
BEGIN
	SET TRANSACTION ISOLATION
	LEVEL READ UNCOMMITTED
	BEGIN TRAN

	--BEGIN TRY
	IF (NOT EXISTS (SELECT * FROM DBO.HOME WHERE HOMEID = @HOMEID)
	OR NOT EXISTS (SELECT * FROM DBO.STATUS WHERE STATUSNAME = @HOMESTT))
	BEGIN
		PRINT N'THÔNG TIN KHÔNG TỒN TẠI'
		ROLLBACK TRAN
		RETURN
	END
	DECLARE @STTID CHAR(5)
	SELECT @STTID = STATUSID FROM DBO.STATUS WHERE STATUSNAME = @HOMESTT
	UPDATE DBO.HOME
	SET HOMESTATUSID = @STTID
	WHERE HOMEID = @HOMEID

	WAITFOR DELAY '00:00:05'
	--END TRY

	--BEGIN CATCH
	IF ((@@ERROR <> 0) OR (EXISTS(SELECT * FROM DBO.STATUS S, DBO.TYPE T, DBO.HOME H
	WHERE H.HOMEID = @HOMEID AND H.HOMESTATUSID = S.STATUSID AND H.HOMETYPEID = T.TYPEID 
	AND ((T.TYPENAME = N'Nhà thuê' AND S.STATUSNAME = N'Đã bán') OR (T.TYPENAME = N'Nhà bán' AND S.STATUSNAME = N'Đã thuê')))))
	BEGIN
		PRINT N'CẬP NHẬT KHÔNG THÀNH CÔNG'
		ROLLBACK TRAN
		RETURN
	END
	--END CATCH
	COMMIT TRAN
END
GO
/****** Object:  StoredProcedure [dbo].[update_expiration]    Script Date: 14/01/2021 8:10:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

--16. Nếu ngày hiện tại lớn hơn ngày hết hạn thì cập nhật lại tình trạng là "Hết hạn"
--Tạo Job kiểm tra hàng ngày
create procedure [dbo].[update_expiration]
as
	update dbo.HOME
	set HOMESTATUSID = (select STATUSID from dbo.STATUS where STATUSNAME = N'Hết hạn')
	where EXPIRATIONDATE < getdate()
GO
/****** Object:  StoredProcedure [dbo].[USP_CONVER_INCREASE_RENT]    Script Date: 14/01/2021 8:10:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[USP_CONVER_INCREASE_RENT] @ID CHAR(5), @ADD MONEY
AS
BEGIN
	SET TRANSACTION ISOLATION
	LEVEL REPEATABLE READ
	BEGIN TRAN

	IF NOT EXISTS(SELECT * FROM DBO.HOMERENT WHERE HOMERENTID = @ID)
	BEGIN
		PRINT N'NHÀ KHÔNG TỒN TẠI'
		ROLLBACK TRAN
		RETURN
	END

	DECLARE @RENT MONEY 
	SELECT @RENT = RENT FROM DBO.HOMERENT WHERE HOMERENTID = @ID

	WAITFOR DELAY '00:00:05'

	SET @RENT = @RENT + @ADD
	UPDATE DBO.HOMERENT
	SET RENT = @RENT
	WHERE HOMERENTID = @ID
	PRINT N'CẬP NHẬT THÀNH CÔNG'

	COMMIT TRAN
END
GO
/****** Object:  StoredProcedure [dbo].[USP_CONVER_INSERT_VIEWINFO]    Script Date: 14/01/2021 8:10:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[USP_CONVER_INSERT_VIEWINFO] @CUSID CHAR(5), @HOMEID CHAR(5), @DATE DATETIME, @CMT NVARCHAR(100)
AS
BEGIN
	SET TRANSACTION ISOLATION
	LEVEL REPEATABLE READ 
	BEGIN TRAN
	IF NOT EXISTS(SELECT * FROM DBO.CUSTOMER WHERE CUSTOMERID = @CUSID)
	OR NOT EXISTS(SELECT * FROM DBO.HOME WHERE HOMEID = @HOMEID)
	BEGIN
		PRINT N'THÔNG TIN KHÔNG HỢP LỆ'
		ROLLBACK TRAN
		RETURN
	END
	DECLARE @NUM INT = (SELECT HVIEW FROM DBO.HOME WHERE HOMEID = @HOMEID)
	INSERT INTO DBO.VIEWINFO ( VCUSTOMERID, VHOMEID, VIEWDATE, CUSTOMERCOMMENT)
	VALUES (@CUSID, @HOMEID, @DATE, @CMT)

	WAITFOR DELAY '00:00:05'

	IF ((@@ERROR <> 0) OR (NOT EXISTS (SELECT * FROM DBO.CUSTOMER C, DBO.REQUEST R, DBO.HOME H, DBO.VIEWINFO V 
	WHERE V.VCUSTOMERID = @CUSID AND V.VHOMEID = @HOMEID AND V.VIEWDATE = @DATE AND V.VCUSTOMERID = C.CUSTOMERID 
	AND C.CUSTOMERID = R.RCUSTOMERID AND V.VHOMEID = H.HOMEID AND H.HOMETYPEID = R.RHOMETYPEID)))
	BEGIN
		PRINT N'THÊM LỊCH XEM THẤT BẠI'
		ROLLBACK TRAN
		RETURN
	END
	PRINT N'THÊM LỊCH XEM THÀNH CÔNG'
	
	WAITFOR DELAY '00:00:05'

	SET @NUM = @NUM + 1;
	UPDATE DBO.HOME
	SET HVIEW = @NUM
	WHERE HOMEID = @HOMEID

	COMMIT TRAN 
END
GO
/****** Object:  StoredProcedure [dbo].[USP_COUNT_CONTRACT]    Script Date: 14/01/2021 8:10:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[USP_COUNT_CONTRACT] @TOTAL INT OUT
AS
BEGIN
	SET TRANSACTION ISOLATION
	LEVEL READ COMMITTED
	BEGIN TRAN
	SELECT @TOTAL = COUNT(*) FROM DBO.CONTRACT
	PRINT N'TỔNG SỐ HỢP ĐỒNG: ' + CAST(@TOTAL AS CHAR(10))

	WAITFOR DELAY '00:00:05'

	SELECT E.EMPLOYEEID, E.EMPLOYEENAME, COUNT(E.EMPLOYEEID) 'AMOUNT CONTRACT'
	FROM DBO.EMPLOYEE E, DBO.CONTRACT C, DBO.HOME H
	WHERE (C.CHOMEID = H.HOMEID AND H.HEMPLOYEEID = E.EMPLOYEEID)
	GROUP BY E.EMPLOYEEID, E.EMPLOYEENAME
	UNION 
	SELECT EMPLOYEEID, EMPLOYEENAME, 0 'AMOUNT CONTRACT'
	FROM DBO.EMPLOYEE
	WHERE EMPLOYEEID NOT IN (SELECT E.EMPLOYEEID
	FROM DBO.EMPLOYEE E, DBO.CONTRACT C, DBO.HOME H
	WHERE (C.CHOMEID = H.HOMEID AND H.HEMPLOYEEID = E.EMPLOYEEID))



	COMMIT TRAN
END
GO
/****** Object:  StoredProcedure [dbo].[USP_DELETE_HOME]    Script Date: 14/01/2021 8:10:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[USP_DELETE_HOME] @ID CHAR(5)
AS
BEGIN
	SET TRANSACTION ISOLATION
	LEVEL READ COMMITTED
	BEGIN TRAN
	IF NOT EXISTS (SELECT * FROM DBO.HOME WHERE HOMEID = @ID)
	BEGIN
		PRINT N'NHÀ KHÔNG TỒN TẠI'
		ROLLBACK TRAN
		RETURN
	END

	IF EXISTS (SELECT * FROM DBO.HOMERENT WHERE HOMERENTID = @ID)
	BEGIN
		DELETE DBO.HOMERENT WHERE HOMERENTID = @ID
	END

	IF EXISTS (SELECT * FROM DBO.HOMESELL WHERE HOMESELLID = @ID)
	BEGIN
		DELETE DBO.HOMESELL WHERE HOMESELLID = @ID
	END
	
	DELETE DBO.HOME WHERE HOMEID = @ID

	COMMIT TRAN
END
GO
/****** Object:  StoredProcedure [dbo].[USP_INCREASE_RENT]    Script Date: 14/01/2021 8:10:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[USP_INCREASE_RENT] @ID CHAR(5), @ADD MONEY
AS
BEGIN
	SET TRANSACTION ISOLATION
	LEVEL READ COMMITTED
	BEGIN TRAN

	IF NOT EXISTS(SELECT * FROM DBO.HOMERENT WHERE HOMERENTID = @ID)
	BEGIN
		PRINT N'NHÀ KHÔNG TỒN TẠI'
		ROLLBACK TRAN
		RETURN
	END

	DECLARE @RENT MONEY 
	SELECT @RENT = RENT FROM DBO.HOMERENT WHERE HOMERENTID = @ID

	WAITFOR DELAY '00:00:05'

	SET @RENT = @RENT + @ADD
	UPDATE DBO.HOMERENT
	SET RENT = @RENT
	WHERE HOMERENTID = @ID
	PRINT N'CẬP NHẬT THÀNH CÔNG'

	COMMIT TRAN
END
GO
/****** Object:  StoredProcedure [dbo].[USP_INSERT_CONTRACTRENT]    Script Date: 14/01/2021 8:10:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[USP_INSERT_CONTRACTRENT] @ID CHAR(5), @CUSID CHAR(5), @HOMEID CHAR(5), @DATE DATE, @SIGN DATE, @END DATE
AS
BEGIN
	SET TRANSACTION ISOLATION
	LEVEL READ COMMITTED
	BEGIN TRAN
	IF NOT EXISTS(SELECT * FROM DBO.VIEWINFO WHERE VCUSTOMERID = @CUSID AND VHOMEID = @HOMEID)
	BEGIN
		PRINT N'KHÔNG CÓ THÔNG TIN XEM NHÀ'
		ROLLBACK TRAN
		RETURN
	END

	INSERT INTO DBO.CONTRACT 
	VALUES (@ID, @CUSID, @HOMEID, @DATE, @SIGN)
	INSERT INTO DBO.CONTRACTRENT
	VALUES (@ID, @END)

	WAITFOR DELAY '00:00:05'

	DECLARE @TYPE NVARCHAR(50)
	SELECT @TYPE = TYPENAME FROM DBO.TYPE, DBO.HOME WHERE HOMEID = @HOMEID AND HOMETYPEID = TYPEID

	IF ((@@ERROR <> 0) OR (@SIGN < @DATE) OR (@END < @SIGN)
	OR @TYPE = N'Nhà bán')
	BEGIN
		PRINT N'THÊM HỢP ĐỒNG THUÊ THẤT BẠI'
		ROLLBACK TRAN
		RETURN
	END
	PRINT N'THÊM HỢP ĐỒNG THUÊ THÀNH CÔNG'

	UPDATE DBO.HOME
	SET HOMESTATUSID = (SELECT TYPEID FROM DBO.TYPE WHERE TYPENAME = N'Đã thuê')
	WHERE HOMEID = @HOMEID
	COMMIT TRAN 
END
GO
/****** Object:  StoredProcedure [dbo].[USP_INSERT_CONTRACTSELL]    Script Date: 14/01/2021 8:10:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[USP_INSERT_CONTRACTSELL] @ID CHAR(5), @CUSID CHAR(5),  @HOMEID CHAR(5), @DATE DATE, @SIGN DATE, @DEPO MONEY
AS
BEGIN
	SET TRANSACTION ISOLATION
	LEVEL READ COMMITTED
	BEGIN TRAN
	IF NOT EXISTS(SELECT * FROM DBO.VIEWINFO WHERE VCUSTOMERID = @CUSID AND VHOMEID = @HOMEID)
	BEGIN
		PRINT N'KHÔNG CÓ THÔNG TIN XEM NHÀ'
		ROLLBACK TRAN
		RETURN
	END

	INSERT INTO DBO.CONTRACT 
	VALUES (@ID, @CUSID, @HOMEID, @DATE, @SIGN)
	INSERT INTO DBO.CONTRACTSELL
	VALUES (@ID, @DEPO)

	DECLARE @TYPE NVARCHAR(50)
	SELECT @TYPE = TYPENAME FROM DBO.TYPE, DBO.HOME WHERE HOMEID = @HOMEID AND HOMETYPEID = TYPEID

	IF ((@@ERROR <> 0) OR (@SIGN < @DATE) OR (@TYPE = N'Nhà thuê'))
	BEGIN
		PRINT N'THÊM HỢP ĐỒNG BÁN THẤT BẠI'
		ROLLBACK TRAN
		RETURN
	END
	PRINT N'THÊM HỢP ĐỒNG BÁN THÀNH CÔNG'

	UPDATE DBO.HOME
	SET HOMESTATUSID = (SELECT STATUSID FROM DBO.STATUS WHERE STATUSNAME = N'Đã bán')
	WHERE HOMEID = @HOMEID

	COMMIT TRAN 
END
GO
/****** Object:  StoredProcedure [dbo].[USP_INSERT_HOMERENT]    Script Date: 14/01/2021 8:10:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[USP_INSERT_HOMERENT] @HOST CHAR(5), @EMP CHAR(5), @STR NVARCHAR(50), @DIS NVARCHAR(50), @CITY NVARCHAR(50), @ROOM INT, @EDATE DATE, @RENT MONEY
AS
BEGIN
	SET TRANSACTION ISOLATION
	LEVEL READ UNCOMMITTED
	BEGIN TRAN
	DECLARE @ID CHAR(5)
	EXEC @ID = AUTO_IDHOME

	IF EXISTS (SELECT * FROM DBO.HOME WHERE HOMEID = @ID)
	BEGIN
		PRINT N'MÃ NHÀ KHÔNG HỢP LỆ'
		ROLLBACK TRAN
		RETURN
	END

	DECLARE @STTID CHAR(5)
	SELECT @STTID = STATUSID FROM DBO.STATUS WHERE STATUSNAME = N'Còn trống'
	DECLARE @TYPEID CHAR(5)
	SELECT @TYPEID = TYPEID FROM DBO.TYPE WHERE TYPENAME = N'Nhà thuê'
	
	INSERT INTO DBO.HOME
	VALUES (@ID, @HOST, @EMP, @STR, @DIS, @CITY, @STTID, @TYPEID, @ROOM, GETDATE(), @EDATE, 0)
	INSERT INTO DBO.HOMERENT
	VALUES (@ID, @RENT)

	WAITFOR DELAY '00:00:05'
	
	IF ((@@ERROR <> 0) OR (EXISTS (SELECT * FROM DBO.HOME WHERE EXPIRATIONDATE < POSTDATE)))
	BEGIN
		PRINT N'THÊM NHÀ THUÊ THẤT BẠI'
		ROLLBACK TRAN
		RETURN
	END
	
	PRINT N'THÊM NHÀ THUÊ THÀNH CÔNG'
	COMMIT TRAN
END
GO
/****** Object:  StoredProcedure [dbo].[USP_INSERT_HOMESELL]    Script Date: 14/01/2021 8:10:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[USP_INSERT_HOMESELL] @HOST CHAR(5), @EMP CHAR(5), @STR NVARCHAR(50), @DIS NVARCHAR(50), @CITY NVARCHAR(50), @ROOM INT, @EDATE DATE, @SELL MONEY, @RQH NVARCHAR(100)
AS
BEGIN
	SET TRANSACTION ISOLATION
	LEVEL READ COMMITTED
	BEGIN TRAN
	DECLARE @ID CHAR(5)
	EXEC @ID = AUTO_IDHOME

	IF EXISTS (SELECT * FROM DBO.HOME WHERE HOMEID = @ID)
	BEGIN
		PRINT N'MÃ NHÀ KHÔNG HỢP LỆ'
		ROLLBACK TRAN
		RETURN
	END

	DECLARE @STTID CHAR(5)
	SELECT @STTID = STATUSID FROM DBO.STATUS WHERE STATUSNAME = N'Còn trống'
	DECLARE @TYPEID CHAR(5)
	SELECT @TYPEID = TYPEID FROM DBO.TYPE WHERE TYPENAME = N'Nhà bán'

	INSERT INTO DBO.HOME
	VALUES (@ID, @HOST, @EMP, @STR, @DIS, @CITY, @STTID, @TYPEID, @ROOM, GETDATE(), @EDATE, 0)
	INSERT INTO DBO.HOMESELL
	VALUES (@ID, @SELL, @RQH)

	COMMIT TRAN
END
GO
/****** Object:  StoredProcedure [dbo].[USP_INSERT_VIEWINFO]    Script Date: 14/01/2021 8:10:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[USP_INSERT_VIEWINFO] @CUSID CHAR(5), @HOMEID CHAR(5), @DATE DATETIME, @CMT NVARCHAR(100)
AS
BEGIN
	SET TRANSACTION ISOLATION
	LEVEL READ COMMITTED
	BEGIN TRAN
	IF NOT EXISTS(SELECT * FROM DBO.CUSTOMER WHERE CUSTOMERID = @CUSID)
	OR NOT EXISTS(SELECT * FROM DBO.HOME WHERE HOMEID = @HOMEID)
	BEGIN
		PRINT N'THÔNG TIN KHÔNG HỢP LỆ'
		ROLLBACK TRAN
		RETURN
	END
	DECLARE @NUM INT = (SELECT HVIEW FROM DBO.HOME WHERE HOMEID = @HOMEID)
	INSERT INTO DBO.VIEWINFO ( VCUSTOMERID, VHOMEID, VIEWDATE, CUSTOMERCOMMENT)
	VALUES (@CUSID, @HOMEID, @DATE, @CMT)

	WAITFOR DELAY '00:00:05'

	IF ((@@ERROR <> 0) OR (NOT EXISTS (SELECT * FROM DBO.CUSTOMER C, DBO.REQUEST R, DBO.HOME H, DBO.VIEWINFO V 
	WHERE V.VCUSTOMERID = @CUSID AND V.VHOMEID = @HOMEID AND V.VIEWDATE = @DATE AND V.VCUSTOMERID = C.CUSTOMERID 
	AND C.CUSTOMERID = R.RCUSTOMERID AND V.VHOMEID = H.HOMEID AND H.HOMETYPEID = R.RHOMETYPEID)))
	BEGIN
		PRINT N'THÊM LỊCH XEM THẤT BẠI'
		ROLLBACK TRAN
		RETURN
	END
	PRINT N'THÊM LỊCH XEM THÀNH CÔNG'
	
	WAITFOR DELAY '00:00:05'

	SET @NUM = @NUM + 1;
	UPDATE DBO.HOME
	SET HVIEW = @NUM
	WHERE HOMEID = @HOMEID

	COMMIT TRAN 
END
GO
/****** Object:  StoredProcedure [dbo].[USP_SELECT_CONTRACT]    Script Date: 14/01/2021 8:10:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[USP_SELECT_CONTRACT]
AS
BEGIN
	SET TRANSACTION ISOLATION
	LEVEL READ UNCOMMITTED
	BEGIN TRAN
	SELECT * FROM DBO.CONTRACT
	COMMIT TRAN
END
GO
/****** Object:  StoredProcedure [dbo].[USP_SELECT_EMP_ARE]    Script Date: 14/01/2021 8:10:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--T1: CHỨC NĂNG TÌM NHÂN VIÊN THEO KHU VỰC
CREATE PROCEDURE [dbo].[USP_SELECT_EMP_ARE] @AREA NVARCHAR(50)
AS
BEGIN
	SET TRANSACTION ISOLATION
	LEVEL READ COMMITTED
	BEGIN TRAN
	DECLARE @NUMRESULT INT
	SELECT @NUMRESULT = COUNT(*) FROM DBO.EMPLOYEE WHERE EMPLOYEEADDRESS LIKE @AREA + '%'
	IF(@NUMRESULT = 0)
	BEGIN
		PRINT N'KHÔNG TÌM THẤY KẾT QUẢ NÀO'
		ROLLBACK TRAN
		RETURN
	END
	ELSE
	BEGIN
		PRINT N'SỐ KẾT QUẢ TÌM THẤY: ' + CAST(@NUMRESULT AS CHAR(10))
	END

	WAITFOR DELAY '00:00:05'
	
	SELECT * FROM DBO.EMPLOYEE WHERE EMPLOYEEADDRESS LIKE @AREA + '%'
	COMMIT TRAN
END
GO
/****** Object:  StoredProcedure [dbo].[USP_SELECT_EMP_AREA]    Script Date: 14/01/2021 8:10:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[USP_SELECT_EMP_AREA] @AREA NVARCHAR(50), @NUMRESULT INT OUT
AS
BEGIN
	SET TRANSACTION ISOLATION
	LEVEL READ COMMITTED
	BEGIN TRAN
	SELECT @NUMRESULT = COUNT(*) FROM DBO.EMPLOYEE WHERE EMPLOYEEADDRESS LIKE @AREA + '%'
	IF(@NUMRESULT = 0)
	BEGIN
		PRINT N'KHÔNG TÌM THẤY KẾT QUẢ NÀO'
		ROLLBACK TRAN
		RETURN
	END
	ELSE
	BEGIN
		PRINT N'SỐ KẾT QUẢ TÌM THẤY: ' + CAST(@NUMRESULT AS CHAR(10))
	END

	WAITFOR DELAY '00:00:05'
	
	SELECT * FROM DBO.EMPLOYEE WHERE EMPLOYEEADDRESS LIKE @AREA + '%'
	COMMIT TRAN
END
GO
/****** Object:  StoredProcedure [dbo].[USP_SELECT_HOME]    Script Date: 14/01/2021 8:10:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[USP_SELECT_HOME] @TYPE NVARCHAR(50)
AS
BEGIN
	SET TRANSACTION ISOLATION
	LEVEL READ UNCOMMITTED
	BEGIN TRAN

	DECLARE @STT CHAR(5)
	SELECT @STT = STATUSID FROM DBO.STATUS WHERE STATUSNAME = N'Còn trống'

	DECLARE @TYPEID CHAR(5)
	SELECT @TYPEID = TYPEID FROM DBO.TYPE WHERE TYPENAME = @TYPE

	SELECT HOMEID, HADDRESSDISTRICT, ROOMNUMBER, POSTDATE, HVIEW, RENT FROM DBO.HOME, DBO.HOMERENT
	WHERE HOMEID = HOMERENTID AND HOMETYPEID = @TYPEID AND HOMESTATUSID = @STT

	COMMIT
END
GO
/****** Object:  StoredProcedure [dbo].[USP_SELECT_HOME_AREA]    Script Date: 14/01/2021 8:10:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[USP_SELECT_HOME_AREA] @AREA NVARCHAR(50), @TYPE NVARCHAR(50), @NUMRESULT INT OUT
AS
BEGIN
	SET TRANSACTION ISOLATION
	LEVEL READ COMMITTED
	BEGIN TRAN
	DECLARE @TYPEID CHAR(5)
	SELECT @TYPEID = TYPEID FROM DBO.TYPE WHERE @TYPE = TYPENAME

	SELECT @NUMRESULT = COUNT(*) FROM DBO.HOME WHERE HADDRESSDISTRICT = @AREA  AND HOMETYPEID = @TYPEID
	IF(@NUMRESULT = 0)
	BEGIN
		PRINT N'KHÔNG TÌM THẤY KẾT QUẢ NÀO'
		ROLLBACK TRAN
		RETURN
	END
	ELSE
	BEGIN
		PRINT N'SỐ KẾT QUẢ TÌM THẤY: ' + CAST(@NUMRESULT AS CHAR(10))
	END

	WAITFOR DELAY '00:00:05'
	
	SELECT * FROM DBO.HOME WHERE HADDRESSDISTRICT = @AREA AND HOMETYPEID = @TYPEID
	COMMIT TRAN
END
GO
/****** Object:  StoredProcedure [dbo].[USP_SELECT_VIEWINFO]    Script Date: 14/01/2021 8:10:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[USP_SELECT_VIEWINFO] @CUSID CHAR(5)
AS
BEGIN
	SET TRANSACTION ISOLATION
	LEVEL READ UNCOMMITTED
	BEGIN TRAN
	IF NOT EXISTS(SELECT * FROM DBO.CUSTOMER WHERE CUSTOMERID = @CUSID)
	BEGIN
		PRINT N'THÔNG TIN KHÔNG HỢP LỆ'
		ROLLBACK TRAN
		RETURN
	END
	
	SELECT * FROM DBO.VIEWINFO WHERE VCUSTOMERID = @CUSID
	COMMIT TRAN
END
GO
/****** Object:  StoredProcedure [dbo].[USP_TRAN01_T1]    Script Date: 14/01/2021 8:10:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[USP_TRAN01_T1] @HOMEID CHAR(5), @HOMESTT NVARCHAR(50)
AS
BEGIN
	SET TRANSACTION ISOLATION
	LEVEL READ UNCOMMITTED
	BEGIN TRAN
	IF (NOT EXISTS (SELECT * FROM DBO.HOME WHERE HOMEID = @HOMEID)
	OR NOT EXISTS (SELECT * FROM DBO.STATUS WHERE STATUSNAME = @HOMESTT))
	BEGIN
		PRINT N'THÔNG TIN KHÔNG TỒN TẠI'
		ROLLBACK TRAN
		RETURN
	END
	DECLARE @STTID CHAR(5)
	SELECT @STTID = STATUSID FROM DBO.STATUS WHERE STATUSNAME = @HOMESTT
	UPDATE DBO.HOME
	SET HOMESTATUSID = @STTID
	WHERE HOMEID = @HOMEID

	WAITFOR DELAY '00:00:05'
	
	IF ((@@ERROR <> 0) OR (EXISTS(SELECT * FROM DBO.STATUS S, DBO.TYPE T, DBO.HOME H
	WHERE H.HOMEID = @HOMEID AND H.HOMESTATUSID = S.STATUSID AND H.HOMETYPEID = T.TYPEID 
	AND ((T.TYPENAME = N'Nhà thuê' AND S.STATUSNAME = N'Đã bán') OR (T.TYPENAME = N'Nhà bán' AND S.STATUSNAME = N'Đã thuê')))))
	BEGIN
		PRINT N'CẬP NHẬT KHÔNG THÀNH CÔNG'
		ROLLBACK TRAN
		RETURN
	END
	COMMIT TRAN
END
GO
/****** Object:  StoredProcedure [dbo].[USP_TRAN01_T2]    Script Date: 14/01/2021 8:10:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[USP_TRAN01_T2] @HOMETYPE NVARCHAR(50)
AS
BEGIN
	SET TRANSACTION ISOLATION
	LEVEL READ UNCOMMITTED
	BEGIN TRAN
	IF NOT EXISTS(SELECT * FROM DBO.TYPE WHERE TYPENAME = @HOMETYPE)
	BEGIN
		PRINT N'LOẠI NHÀ KHÔNG HỢP LỆ'
		ROLLBACK TRAN
		RETURN
	END
	SELECT * FROM DBO.HOME H, DBO.TYPE T WHERE H.HOMETYPEID = T.TYPEID AND T.TYPENAME = @HOMETYPE
	COMMIT
END
GO
/****** Object:  StoredProcedure [dbo].[USP_TRAN05_T2]    Script Date: 14/01/2021 8:10:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[USP_TRAN05_T2] @HOMEID CHAR(5), @ADD MONEY
AS
BEGIN
	SET TRANSACTION ISOLATION
	LEVEL READ COMMITTED
	BEGIN TRAN

	IF NOT EXISTS(SELECT * FROM DBO.HOMERENT WHERE HOMERENTID = @HOMEID)
	BEGIN
		PRINT N'NHÀ KHÔNG HỢP LỆ'
		--ROLLBACK TRAN
		RETURN
	END
	
	

	DECLARE @RENT MONEY 
	SELECT @RENT = RENT FROM DBO.HOMERENT WHERE HOMERENTID = @HOMEID
	WAITFOR DELAY '00:00:05'
	SET @RENT = @RENT + @ADD
	

	UPDATE DBO.HOMERENT
	SET RENT = @RENT
	WHERE HOMERENTID = @HOMEID

	COMMIT TRAN
END

SELECT * FROM DBO.HOMERENT
EXEC USP_TRAN05_T2 'H0001', 100000
SELECT * FROM DBO.HOMERENT
GO
/****** Object:  StoredProcedure [dbo].[USP_UPDATE_EMP_AREA]    Script Date: 14/01/2021 8:10:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[USP_UPDATE_EMP_AREA] @EMPID CHAR(5), @AREA NVARCHAR(50)
AS
BEGIN
	SET TRANSACTION ISOLATION
	LEVEL READ COMMITTED
	BEGIN TRAN

	IF NOT EXISTS(SELECT * FROM DBO.EMPLOYEE WHERE EMPLOYEEID = @EMPID)
	BEGIN
		PRINT N'NHÂN VIÊN KHÔNG HỢP LỆ'
		ROLLBACK TRAN
	END

	UPDATE DBO.EMPLOYEE
	SET EMPLOYEEADDRESS = @AREA
	WHERE EMPLOYEEID = @EMPID

	COMMIT TRAN
END
GO
/****** Object:  StoredProcedure [dbo].[USP_X_COUNT_CONTRACT]    Script Date: 14/01/2021 8:10:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[USP_X_COUNT_CONTRACT] @TOTAL INT OUT
AS
BEGIN
	SET TRANSACTION ISOLATION
	LEVEL SERIALIZABLE 
	BEGIN TRAN
	SELECT @TOTAL = COUNT(*) FROM DBO.CONTRACT
	PRINT N'TỔNG SỐ HỢP ĐỒNG: ' + CAST(@TOTAL AS CHAR(10))

	WAITFOR DELAY '00:00:05'

	SELECT E.EMPLOYEEID, E.EMPLOYEENAME, COUNT(E.EMPLOYEEID) 'AMOUNT CONTRACT'
	FROM DBO.EMPLOYEE E, DBO.CONTRACT C, DBO.HOME H
	WHERE (C.CHOMEID = H.HOMEID AND H.HEMPLOYEEID = E.EMPLOYEEID)
	GROUP BY E.EMPLOYEEID, E.EMPLOYEENAME
	UNION 
	SELECT EMPLOYEEID, EMPLOYEENAME, 0 'AMOUNT CONTRACT'
	FROM DBO.EMPLOYEE
	WHERE EMPLOYEEID NOT IN (SELECT E.EMPLOYEEID
	FROM DBO.EMPLOYEE E, DBO.CONTRACT C, DBO.HOME H
	WHERE (C.CHOMEID = H.HOMEID AND H.HEMPLOYEEID = E.EMPLOYEEID))

	COMMIT TRAN
END
GO
/****** Object:  StoredProcedure [dbo].[USP_X_SELECT_CONTRACT]    Script Date: 14/01/2021 8:10:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[USP_X_SELECT_CONTRACT]
AS
BEGIN
	SET TRANSACTION ISOLATION
	LEVEL READ COMMITTED
	BEGIN TRAN
	SELECT * FROM DBO.CONTRACT
	COMMIT TRAN
END
GO
/****** Object:  StoredProcedure [dbo].[USP_X_SELECT_EMP_AREA]    Script Date: 14/01/2021 8:10:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[USP_X_SELECT_EMP_AREA] @AREA NVARCHAR(50), @NUMRESULT INT OUT
AS
BEGIN
	SET TRANSACTION ISOLATION
	LEVEL REPEATABLE READ 
	BEGIN TRAN
	SELECT @NUMRESULT = COUNT(*) FROM DBO.EMPLOYEE WHERE EMPLOYEEADDRESS LIKE @AREA + '%'
	IF(@NUMRESULT = 0)
	BEGIN
		PRINT N'KHÔNG TÌM THẤY KẾT QUẢ NÀO'
		ROLLBACK TRAN
		RETURN
	END
	ELSE
	BEGIN
		PRINT N'SỐ KẾT QUẢ TÌM THẤY: ' + CAST(@NUMRESULT AS CHAR(10))
	END

	WAITFOR DELAY '00:00:05'
	
	SELECT * FROM DBO.EMPLOYEE WHERE EMPLOYEEADDRESS LIKE @AREA + '%'
	COMMIT TRAN
END
GO
/****** Object:  StoredProcedure [dbo].[USP_X_SELECT_HOME]    Script Date: 14/01/2021 8:10:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[USP_X_SELECT_HOME] @TYPE NVARCHAR(50)
AS
BEGIN
	SET TRANSACTION ISOLATION
	LEVEL READ COMMITTED
	BEGIN TRAN

	DECLARE @STT CHAR(5)
	SELECT @STT = STATUSID FROM DBO.STATUS WHERE STATUSNAME = N'Còn trống'
	DECLARE @TYPEID CHAR(5)
	SELECT @TYPEID = TYPEID FROM DBO.TYPE WHERE TYPENAME = @TYPE

	SELECT HOMEID, HADDRESSDISTRICT, ROOMNUMBER, POSTDATE, HVIEW, RENT FROM DBO.HOME, DBO.HOMERENT
	WHERE HOMEID = HOMERENTID AND HOMETYPEID = @TYPEID AND HOMESTATUSID = @STT

	COMMIT TRAN
END
GO
/****** Object:  StoredProcedure [dbo].[USP_X_SELECT_HOME_AREA]    Script Date: 14/01/2021 8:10:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[USP_X_SELECT_HOME_AREA] @AREA NVARCHAR(50), @TYPE NVARCHAR(50), @NUMRESULT INT OUT
AS
BEGIN
	SET TRANSACTION ISOLATION
	LEVEL REPEATABLE READ 
	BEGIN TRAN
	DECLARE @TYPEID CHAR(5)
	SELECT @TYPEID = TYPEID FROM DBO.TYPE WHERE @TYPE = TYPENAME

	SELECT @NUMRESULT = COUNT(*) FROM DBO.HOME WHERE HADDRESSDISTRICT = @AREA  AND HOMETYPEID = @TYPEID
	IF(@NUMRESULT = 0)
	BEGIN
		PRINT N'KHÔNG TÌM THẤY KẾT QUẢ NÀO'
		ROLLBACK TRAN
		RETURN
	END
	ELSE
	BEGIN
		PRINT N'SỐ KẾT QUẢ TÌM THẤY: ' + CAST(@NUMRESULT AS CHAR(10))
	END

	WAITFOR DELAY '00:00:05'
	
	SELECT * FROM DBO.HOME WHERE HADDRESSDISTRICT = @AREA AND HOMETYPEID = @TYPEID
	COMMIT TRAN
END
GO
/****** Object:  StoredProcedure [dbo].[USP_X_SELECT_VIEWINFO]    Script Date: 14/01/2021 8:10:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[USP_X_SELECT_VIEWINFO] @CUSID CHAR(5)
AS
BEGIN
	SET TRANSACTION ISOLATION
	LEVEL READ COMMITTED
	BEGIN TRAN
	IF NOT EXISTS(SELECT * FROM DBO.CUSTOMER WHERE CUSTOMERID = @CUSID)
	BEGIN
		PRINT N'THÔNG TIN KHÔNG HỢP LỆ'
		ROLLBACK TRAN
		RETURN
	END
	
	SELECT * FROM DBO.VIEWINFO WHERE VCUSTOMERID = @CUSID
	COMMIT TRAN
END
GO
/****** Object:  StoredProcedure [dbo].[USP_X_UPDATE_EMP_AREA]    Script Date: 14/01/2021 8:10:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[USP_X_UPDATE_EMP_AREA] @EMPID CHAR(5), @AREA NVARCHAR(50)
AS
BEGIN
	SET TRANSACTION ISOLATION
	--LEVEL REPEATABLE READ
	LEVEL READ committed
	BEGIN TRAN

	IF NOT EXISTS(SELECT * FROM DBO.EMPLOYEE WHERE EMPLOYEEID = @EMPID)
	BEGIN
		PRINT N'NHÂN VIÊN KHÔNG HỢP LỆ'
		ROLLBACK TRAN
	END

	UPDATE DBO.EMPLOYEE
	SET EMPLOYEEADDRESS = @AREA
	WHERE EMPLOYEEID = @EMPID

	COMMIT TRAN
END
GO
/****** Object:  StoredProcedure [dbo].[USP_XX_SELECT_HOME_AREA]    Script Date: 14/01/2021 8:10:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[USP_XX_SELECT_HOME_AREA] @AREA NVARCHAR(50), @TYPE NVARCHAR(50), @NUMRESULT INT OUT
AS
BEGIN
	SET TRANSACTION ISOLATION
	LEVEL SERIALIZABLE
	BEGIN TRAN
	DECLARE @TYPEID CHAR(5)
	SELECT @TYPEID = TYPEID FROM DBO.TYPE WHERE @TYPE = TYPENAME

	SELECT @NUMRESULT = COUNT(*) FROM DBO.HOME WHERE HADDRESSDISTRICT = @AREA  AND HOMETYPEID = @TYPEID
	IF(@NUMRESULT = 0)
	BEGIN
		PRINT N'KHÔNG TÌM THẤY KẾT QUẢ NÀO'
		ROLLBACK TRAN
		RETURN
	END
	ELSE
	BEGIN
		PRINT N'SỐ KẾT QUẢ TÌM THẤY: ' + CAST(@NUMRESULT AS CHAR(10))
	END

	WAITFOR DELAY '00:00:05'
	
	SELECT * FROM DBO.HOME WHERE HADDRESSDISTRICT = @AREA AND HOMETYPEID = @TYPEID
	COMMIT TRAN
END
GO
USE [master]
GO
